# Visual Studio & IDE files
.vs/
*.slnx
*.suo
*.user
*.vsidx

# CMake build outputs
/out/
/build/
CMakeCache.txt
CMakeFiles/

# Compiled binary and object files
*.o
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk